<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="courses.css">
</head>
<body>
<div class="pricing-table">
    <h2>Pricing</h2>
    <div class="price-item">
        <ul>
            <li class="plan">Premium</li>
            <li class="price">
                <p>$2.99<small>/mo</small></p>
                <span class="price-doller">$5.99</span>
                <span class="discount">Save 50%</span>
            </li>
            <li class="btn"><button>Get Started</button></li>
        </ul>
    </div>
    <div class="price-item">
        <ul>
            <li class="plan plus">Normal</li>
            <li class="price">
                <p>$8.99<small>/mo</small></p>
                <span class="price-doller">$17.99</span>
                <span class="discount plus">Save 50%</span>
            </li>
            <li class="btn"><button class="plus">Get Started</button></li>

        </ul>
    </div>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Logout
    </a>
</div>
</body>
</html>